<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
  version="2.4">


  
      <servlet>
        <servlet-name>scriptDo</servlet-name>
        <servlet-class>xworker.http.HttpServletDo</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet>
        <servlet-name>HttpActionMappingServlet</servlet-name>
        <servlet-class>xworker.http.HttpActionMappingServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

  <servlet-mapping>
    <servlet-name>rwtServlet</servlet-name>
    <url-pattern>/rwt</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
        <servlet-name>scriptDo</servlet-name>
        <url-pattern>/do</url-pattern>
    </servlet-mapping>
    
	<servlet-mapping>
        <servlet-name>scriptDo</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>scriptDo</servlet-name>
        <url-pattern>*.dml</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>scriptDo</servlet-name>
        <url-pattern>*.xer</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>scriptDo</servlet-name>
        <url-pattern>*.xer.txt</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>scriptDo</servlet-name>
        <url-pattern>*.xer.xml</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>HttpActionMappingServlet</servlet-name>
        <url-pattern>*.ac</url-pattern>
    </servlet-mapping>   
</web-app> 