.header {
	margin: 0px;
	padding: 0px;
	font-family: ו, Arial, Verdana, Helvetica, sans-serif;
	border-bottom: 1px #9E9E9E solid;
}

.menu {
	height:21px;
	margin: 0px;
	padding: 5px;
	background-color: #efefef;
	background-image: url(images/listViewBg.gif);
	background-position: bottom;
	background-repeat: repeat-x;
}

.title {
	font-family: ו, Arial, Verdana, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #333333;
	margin: 0px;
	padding-bottom: 0px;
	padding-top: 3px;
}

.label-title {
	font-family: "¬ו_GB2312";
	font-size: 25px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}
a:link,a:visited {
	color: #333333;
	text-decoration: underline;
}

a:hover {
	color: #333333;
	text-decoration: underline;
}