.navtree {  
	font-size: 12px;
	font-family: ו;
	background-color: #FFFFFF;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px ;
	border-right: 1px solid #9E9E9E;
	scrollbar-arrow-color: #FFFFFF; 
	scrollbar-3dlight-color: #dddddd; 
	scrollbar-highlight-color: #aaaaaa; 
	scrollbar-face-color: #aaaaaa; 
	scrollbar-shadow-color: #aaaaaa;
	scrollbar-track-color: #cccccc; 
	scrollbar-darkshadow-color: #666666;
}
#tree {
	font-family: ו;
	font-size: 12px;
}
#tree a {
	color: #000000;
	text-decoration: none;
}
#tree img {
	border: 0px;
}
