/********* 全局默认样式 *********/
body {
	font:12px 宋体;
	background-color: #e1d0b4;
	background-image: url(../images/all_bj_1.gif);
}

a {
	color: #0173bc;;
	text-decoration: underline;
}
a:hover {
	color: #ff9900;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 3px 0 5px 0;
}
ul, li, form, p {
	padding: 0;
	margin: 0;
}
ul, li {
	list-style: none;
}
select, input, textarea {
	color: #a36431;
	font-size:12px;
	background-color: #fef1d9;
	border: 1px solid #a36431;
}
.input_number {
	width: 50px;
	padding-left: 2px;
}
.input_name {
	width: 200px;
	padding-left: 2px;
}
.input_text {
	width: 320px;
	height: 120px;
	padding-top: 2px;
	padding-left: 2px;
}
label input {
	border: none;
	background: none;
}
input.field {
	border: none;
	background: transparent;
	width: auto;
}
img {
	margin: 0px;
	border: 0px;
}
td {
	font-family: "宋体";
	font-size: 12px;
}
.td_1 {
	font-size: 14px;
	font-weight: bold;	
}
.td_2 {
	font-weight: bold;	
}
.td_3 {
	text-align: center;		
}
/* 通用分页设定 */
.switch_common {
	float: left;
	width: 90%;
	padding: 5px 0 0 0;
	margin-bottom: 5px;
	border: none;
}

.switch_common ul {
	float: left;
	width: 100%;
	margin-bottom: 0;
	padding-bottom: 0;
}
.switch_common li {
	float: left;
	margin: 0 0 0 0;
	border-bottom: 1px solid #FFFF00;
	padding: 0;
}
.switch_common li.highlight {
	border-top:  1px solid #FFFF00;
	border-left:  1px solid #FFFF00;
	border-right:  1px solid #FFFF00;
	border-bottom: none;
	text-decoration: none;
}
.switch_common li a {
	float: left;
	padding: 5px 6px 5px 6px;
	text-align: center;
}


/* 通用弹出窗口设定 */
#dialog_box, .dialog_box {
	position: absolute;
	padding: 5px 10px 10px 10px;
	z-index: 999;
	border-collapse: collapse;
	border-top: 4px solid #fbf3df;
	border-left: 4px solid #fbf3df;
	border-bottom: 4px solid #a89064;
	border-right: 4px solid #a89064;
	background: #e4c894 url(../images/dialog_bg.gif);
}
#dialog_box_inner, .dialog_box_inner {
	position: absolute;
	padding: 5px 10px 10px 10px;
	z-index: 999;
	border-collapse: collapse;
	border-top: 4px solid #fbf3df;
	border-left: 4px solid #fbf3df;
	border-bottom: 4px solid #a89064;
	border-right: 4px solid #a89064;
	background: #e4c894 url(../images/dialog_bg.gif);
}
.dialog_box_title {
    padding-bottom: 2px;
	margin-bottom: 5px;
	border-bottom: 1px solid #a89064;
}
.dialog_info {

    padding-bottom: 2px;
	margin-bottom: 5px;
	width:100%;
}
.dialog_info li {
	height: 18px;
}
.dialog_info_2 {
	float: left;
	margin-bottom: 10px;
	width:100%;
	height:150px;
	overflow-x: hidden;
	overflow-y: auto;
	scrollbar-face-color: #ccab5c;
	scrollbar-highlight-color: #efdcb1; 
	scrollbar-shadow-color: #efdcb1; 
	scrollbar-3dlight-color: #efdcb1; 
	scrollbar-arrow-color: #efdcb1; 
	scrollbar-track-color: #efdcb1; 
	scrollbar-darkshadow-color: #efdcb1;
}

.dialog_info_3 {
	float: left;
	margin-bottom: 10px;
	width:100%;
	background: #FFFFFF;
	border: 1px solid #a89064;
	overflow-x: hidden;
	overflow-y: auto;
	scrollbar-face-color: #ccab5c;
	scrollbar-highlight-color: #efdcb1; 
	scrollbar-shadow-color: #efdcb1; 
	scrollbar-3dlight-color: #efdcb1; 
	scrollbar-arrow-color: #efdcb1; 
	scrollbar-track-color: #efdcb1; 
	scrollbar-darkshadow-color: #efdcb1;
}

.dialog_map_info {
	float: left;
    padding: 0px 10px 0px 0px;
}
.dialog_map_info2 {
	float: left;
	margin-bottom: 5px;
}
/* 表格样式 */
table.data_grid {
	width: 100%;
	border-collapse: collapse;
	margin: 0px 0 5px 0;
}
table.data_grid thead {
	font-weight: bold;
	cursor: pointer;
}
table.data_grid th, table.data_grid td {
	padding: 4px;
	border-bottom: 1px solid #cdb383;
}

.dialog_info_2_font{
	color: #767676;
}
.dialog_sub_titile {
	width:100%;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 5px;
}
.dialog_box_button {
	padding-top: 5px;
	text-align:center;
}
.dialog_box_number {
	font-weight: bold;
	color: #00A651;
}

.dialog_switch {
	float:left;
	width:100%;
	margin-bottom: 10px;
	background: url(../images/dot.gif) repeat-x bottom;
}
.dialog_switch a {
	float:left;
	color: #3f3939;
	padding: 3px 10px 3px 10px;
	text-decoration: none;
}
.dialog_switch a.highlight {
	border: 1px solid #a89064;
	border-bottom: none;
	color: #3f3939;
	background: url(../images/dialog_switch_bg.gif);
}

/* 弹出窗口关闭按钮设定 */
.dialog_box_close {
	position: absolute;
	top: 3px;
	right: 3px;
	float: right;
	width: 18px;
	height: 18px;
	cursor: pointer;
	background: transparent url(http://static.9way.cn/football/icons/icon-close.gif) no-repeat center;
}

/* 通用提示栏TOOLTIP设定 */
#tooltip{
	position: absolute;
	width: 150px;
	border: 1px solid black;
	padding: 2px;
	background-color: lightyellow;
	visibility: hidden;
	z-index: 10000;
}

/* 通用遮罩设定 */
div.mask {
	position: absolute;
	filter:alpha(opacity=30);
	opacity: 0.3;
	z-index: 999;
	float: left;
	top: 0px;
	left: 0px;
	background: #336644;
}
/*英雄*/
#hero_div {
	float: left;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	width: 100%;
}
#hero_div_info {
	float: left;
	padding: 10px 0px 10px 0px;
	margin: 0px 0px 0px 0px;
	width: 100%;
	border-bottom:1px solid #a89064;
}
#hero_div_left {
	float: left;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	width: 480px;
}
#hero_div_right {
	float: left;
	padding: 0px 0px 0px 8px;
	margin: 0px 0px 0px 10px;
	width: 230px;
	height: 250px;
	border-left:1px solid #a89064;
}
.hero_div1 li {
	padding: 0 10px 0 10px;
}
.hero_div2 li {
	float: left;
	padding: 0 5px 0 10px;
}
.hero_div3 li {
	float: left;
	padding: 0 10px 0 0;
}
#Skills_1 {
	padding: 0px 0px 0px 0px;
	text-align: center;
}
#Skills_1 li{
	position: relative;
	padding: 10px 20px 5px 5px;
}