/*** 顶部区域 ***/
#header_logo{
	position:absolute; 
	top:0px;
	left:0px;
	width:274px; 
	height:113; 
}

#header_banner{
	position:absolute; 
	top: 0px;
	left: 274px;
	width: 748px;
	height: 68px;
	z-index:1;
}

#header_news {
	position:absolute;
	top: 0px;
	right: 20px;
	width: 280px;
	height:30px;
	z-index: 2;
}
#header_news li{
	float: left;
}
#header_news a {
	font-size: 12px;
	color: #FFFFFF;
	width: 83px;
	padding: 14px 4px 5px 10px;
	text-align: center;
	text-decoration: none;
}
#header_memu{
	position:absolute;
	top:68px;
	left:274px;
	width: 700px;
	height:45px;
	padding-left: 50px;
}

#header_memu li {
	float: left;
}
#header_memu a {
	float: left;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	width: 80px;
	padding: 14px 4px 5px 15px;
	text-align: center;
	text-decoration: none;
}

#header_memu a:hover {
	color: #F6FF00;
	margin-top: 1px;
}

#header_memu_player a { background: url(../images/top_button_1.gif) no-repeat top left; }
#header_memu_map a { background: url(../images/top_button_3.gif) no-repeat top left; }
#header_memu_group a { background: url(../images/top_button_2.gif) no-repeat top left; }
#header_memu_rank a { background: url(../images/top_button_3.gif) no-repeat top left; }
#header_memu_shop a { background: url(../images/top_button_4.gif) no-repeat top left; }
#header_memu_bbs a { background: url(../images/top_button_5.gif) no-repeat top left; }
#header_memu_help a { background: url(../images/top_button_6.gif) no-repeat top left; }

/*** 左边状态区域 ***/
#info_name  {
	position:relative;
	top: 0px;
	left: 0px;
	width:190px;
	height:30px;
	background-image: url(../images/left_menu_1.gif);
}

#info_name li {
	color: #fffd04;
	font-size: 14px;
	font-weight: bold;
	padding: 13px 0px 0px 36px;
}

#info_content  {
	position:relative;
	top: 6px;
	left: 0px;
	width:190px;
	height:120px;
}

#info_content li {
	line-height: 20px;
	color: #BA9346;
	padding-left: 10px;
}

#info_content li a {
	color: #ffffff;
}

/*** 左边状态区域 分页设定 ***/
.switch_left {
	position:relative;
	margin-left: 10px;
	margin-bottom: 5px;
}

.switch_left li {
	float: left;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #a36431;
	width: 81px;
	height: 22px;
}
.switch_left li.highlight {
	border-top:  1px solid #a36431;
	border-left:  1px solid #a36431;
	border-right:  1px solid #a36431;
	border-bottom: none;
	background-image: url(../images/left_menu_2.gif);
}
.switch_left a {
	float: left;
	padding: 5px 0px 0px 15px;
	color: #CAAD71;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
}
.switch_left li.highlight a {
	float: left;
	padding: 5px 0px 0px 15px;
	color: #ffffff;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
}
/*** 左边状态区域 分页内容设定 ***/
#switch_left_content  {
	float: left;
	position:relative;
	top: 10px;
	left: 0px;
	width:174px;
	height:230px;
	overflow-x: hidden;
	overflow-y: auto;
	margin-bottom:10px;
	scrollbar-face-color: #3f1f0a;
	scrollbar-highlight-color: #6d4218; 
	scrollbar-shadow-color: #6d4218; 
	scrollbar-3dlight-color: #6d4218; 
	scrollbar-arrow-color: #6d4218; 
	scrollbar-track-color: #6d4218; 
	scrollbar-darkshadow-color: #6d4218;
}

#switch_left_content li {
	color: #FFFFFF;
	margin-left: 10px;
	text-align: center;
}


/* 内容体中菜单分页设定 */
#body_title {
	float: left;
	width: 190px;
	height: 39px;
	border: none;
	background-image: url(../images/body_title.gif);
	background-position: center center;
	background-repeat: no-repeat;
}
#body_title li {
	float: left;
	padding: 9px 0px 0px 43px;
	color: #fffabb;
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
}
/*首页分页菜单*/
.body_menu {
	float: left;
	width: 70%;
	padding: 0 0 0 0;
	margin-bottom: 0px;
	border: none;
}

.body_menu ul {
	float: left;
	width: 100%;
	margin-bottom: 0;
	padding-left: 5px;
	padding-top: 8px;
	padding-bottom: 0;
}
.body_menu li {
	float: left;
	margin: 3px -1px 0 1px;
	border-bottom: 1px solid #000000;
	padding: 0;
}
.body_menu li.highlight {
	width:63px;
	border-bottom: 1px solid #000000;
	text-decoration: none;
	background-image: url(../images/menu_button_1.gif);
}
.body_menu li a {
	float: left;
	padding: 5px 15px 5px 18px;
	text-align: center;
	color: #3f3939;
	text-decoration: none;
	text-indent: 7px;
	letter-spacing: 0.2em;
}
.body_menu li.highlight a {
	float: left;
	padding: 5px 15px 5px 10px;
	text-align: center;
	color: #ffd202;
	text-decoration: none;
	text-indent: 7px;
}

/* 底部版权信息 */
#bottom_1 {
    float: left;
	position:relative;
	height: 41px;
	margin-bottom: 5px;
}
#bottom_1 li {
	float: left;
	margin: 15px 0px 0px 8px;
	color: #998675;
}
#bottom_1 li a {
	float: left;
	color: #998675;
	text-decoration: none;
}
#bottom_2 {
    float: right;
	position:relative;
	height: 41px;
	margin-right: 10px;
	margin-bottom: 5px;
}
#bottom_2 li {
	float: left;
	margin: 15px 0px 0px 8px;
	color: #998675;
}
#bottom_2 li a {
	color: #998675;
	text-decoration: underline;
}
