html {
	padding:0 !important;
	padding: 170px 0px 50px 220px;
	width:100%;
	height:100%;
	overflow:hidden;
	margin: 0px 0px 0px 0px;
}
body {
	padding: 0px 0px 0px 0px;
	width: 100%;
	height: 100%;
	margin: 0px 0px 0px 0px;
}

* html #header {
	padding-right: 220px;
}

* html #bottom {
	padding-right: 220px;
}

/*** 顶部区域 ***/
#header{
	position:absolute; 
	top:0px;
	left:0px;
	width:100%; 
	height:113px; 
	background-image: url(../images/top_bg.gif);
}

/*** 左边状态区域 ***/
#body_left {
	position:absolute;
	top:120px;
	left:9px;
	width: 190px;
	height: 425px;
	border: 1px solid #3a241a;
	background-image: url(../images/left_menu.gif);
}

/*** 主体上方菜单 ***/
#body_top {
	position:absolute;
	top:120px;
	left:220px;
	width: 760px;
	height: 39px;
}


/*** 游戏主体区域 ***/
#body_main {
	position: absolute !important;
	position: relative;

	top: 170px !important;
	top: 0px;
	left: 220px !important;
	left: 0px;
	right: 0px;
	bottom: 50px;

	width:auto!important;
	width:100%;
	height:auto!important;
	height:100%;

	overflow-x:hidden;
	overflow-y:auto;
	z-index: 0;
	scrollbar-face-color: #a37750;
	scrollbar-highlight-color: #e3d5bb; 
	scrollbar-shadow-color: #e3d5bb; 
	scrollbar-3dlight-color: #e3d5bb; 
	scrollbar-arrow-color: #e3d5bb; 
	scrollbar-track-color: #e3d5bb; 
	scrollbar-darkshadow-color: #e3d5bb;
}

#body_content {
	width: 760px;
	height: auto;
	margin: 0px 0px 0px 10px;
	padding: 0px 0px 0px 0px;
}

/*** 底部区域 ***/
#bottom {
	position:absolute;
	z-index: 3;
	left: 0px;
	width: 100%;
	bottom:0px;
	height:41px;
	background-image: url(../images/bottom_1.gif);
	overflow: hidden;
}
