td.v14-header-1,
th.v14-header-1{ background:#dfe7ef; }

table.v14-gray-table-border{ border:1px solid #dfe7ef; border-top:0px; }
table.v14-gray-table-border p{ padding:5px 5px 5px 5px; }
table.v14-gray-table-border table{ margin-left:5px; margin-right:5px; }
table.v14-list-spac-wbg-toc tr.bullet-list td,
table.v14-list-spac-wbg-no tr.bullet-list td,
table.v14-list-spacing tr.bullet-list td{ padding-top:0px; padding-bottom:6px; }

body
{
	background-color: #ffffff;
	padding: 5px 5px 5px 5px;
	margin: 0px;
}
body, td
{
	font-family: Arial, Verdana, sans-serif;
	font-size: smaller;
}
pre{
        font-size: 12px;
}

#container {margin:0 auto;}