/***************************************************                       **************************************************/
/************************************************          整体样式          ************************************************/
/***************************************************                       **************************************************/


address,caption,cite,code,dfn,em,th,var {font-style:normal; font-weight:normal }
table {border-collapse:collapse; border-spacing:0 }
fieldset,img {border:0 }
caption,th {text-align:left }
q:before,q:after,blockquote:before,blockquote:after {content:"" }
button,input,select,textarea {font-size:100%; margin:0; vertical-align:baseline; *vertical-align:middle }
textarea {overflow:auto; vertical-align:top }
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {display:block }
html,body {height:100%; -webkit-text-size-adjust:100%; -moz-text-size-adjust:100% }
body {min-width:980px; font:14px/1.2 'microsoft yahei',helvetica,tahoma,arial,\5b8b\4f53; color:#444; background-color:#fff; }
input,select,textarea {font:14px/1.2 'microsoft yahei',helvetica,tahoma,arial,\5b8b\4f53 }
.idc3_t { font-size:14px; font-weight:bold; padding:10px; }

/***************************************************                       **************************************************/
/************************************************          常    用          ************************************************/
/***************************************************                       **************************************************/


sup{vertical-align:text-top; } /* 重置，减少对行高的影响 */
sub{vertical-align:text-bottom; }
/** 重置表单元素 **/
legend{color:#000; } /* for ie6 */
/*防止溢出*/
/*div {overflow:hidden; IE6 }*/
/** 清除浮动 **/
.layout:after{content:'\20'; display:block; height:0; clear:both; }
.layout{ *zoom:1; }
/* 显示 隐藏 */
.db{display:block; }
.dn{display:none; }
.jt-invisible{visibility:hidden; }
/* inline block */
.jt-inline-block{display:inline-block; *display:inline; }
.blank15{clear:both; height:15px; overflow:hidden; display:block; }
.blank9{clear:both; height:9px; overflow:hidden; display:block; }
.blank12{clear:both; height:12px; overflow:hidden; display:block; }
/* 共用样式 */
.dis{display:none}
.left{float:left}
.right{float:right}
.fr {float: right; }
.fl {float: left; }
.clear{clear:both}
.red{color:#cd0000; }
.boder1px{border:1px solid #F09A00}
.position_rel{position:relative}
del{font-family:georgia}
.hg{line-height: 24px; }
/*a {text-decoration:none;color: #666; cursor:pointer; }*/

#top,headerb,#banner ,#container_1,#container_2,container2,container1,#ym_text,#about_text,.foot{width:980px; margin:0 auto; }


/***************************************************                       **************************************************/
/************************************************       八度头部+导航        ************************************************/
/***************************************************                       **************************************************/


#headerb{padding:5px 0 0px;font:13px/15px Arial, Helvetica, sans-serif;margin-bottom:0px; background: url(../../images/xworker_org/line-solid.gif) repeat-x bottom; height:85px; width:980px; margin:0 auto; position:relative; z-index:9}
.hdright { }
.mail{position:absolute; right:10px}
.mail a{color:#dd8318; }
.hdrow{width:100%; position:absolute; right:-10px; top:40px; }
.logob{float:left;width:218px; }
.logob a{display:block; }
.logo{width:100%; position:absolute; right:-10px; top:40px; }

.toplogin { padding:20px; }
.toplogin h3 { }
.toplogin p { margin-top:10px; float:left; height:30px; line-height:30px; font-size:16px; font-family:'microsoft yahei', Tahoma, Geneva, sans-serif; font-weight:600}
.toplogin span { width:80px; float: left; }
.toplogin p input { height:30px; line-height:30px; }
.toplogin .label { width:15px; height:15px; vertical-align:middle }
.toplogin .login { border:0; background:#39F; color:#fff; padding:2px 10px; }
.toplogin p a { color:#F60; font-weight:200; font-size:14px; }

li.current a{color:#00b5f7;cursor:pointer; }
li.current a:hover{color:#00b5f7;cursor:pointer; }
.ebadu_nav li a:hover,.ebadu_nav li a:active{border:none;color:#00B5F7;text-decoration:none; }
.ebadu_nav .sep{padding-top:13px;font-size:10px;color:#aeadad;float:left;height:20px;border-top:none; }
.ebadu_nav{position:relative;height:28px;float:right; }
.ebadu_nav .current{color:#008ace; }
.ebadu_nav .current a{color:#008ace;  background:url(../../images/xworker_org/b_slider.gif) center bottom no-repeat;}

.ebadu_nav li{float:left;list-style:none;padding-bottom:11px; }
.ebadu_nav li.back{background:url(../../images/xworker_org/b_slider.gif) center bottom no-repeat;width:120px;margin-left:-1px;height:28px;z-index:8;position:absolute; }
.ebadu_nav li a{font:bold 14px arial;text-decoration:none;color:#303030;outline:none;text-align:center;top:6px;letter-spacing:0;z-index:10;display:block;float:left;height:28px;position:relative;overflow:hidden;padding:5px 20px 0 17px;font-family:"Microsoft Yahei",Arial,Helvetica,sans-serif,"&#65533; &#65533; &#65533; &#65533; ";font-weight:normal;font-size:13px; }
.ebadu_nav li a:hover{color:#008ace;  background:url(../../images/xworker_org/b_slider.gif) center bottom no-repeat;}

.sed_nav{ display:none; z-index:100; top:40px; position:absolute; background-color: #CCC; filter:alpha(opacity=90); -moz-opacity:0.8; opacity: 0.8; }
.sed_nav .navlay { background:#FFF; padding:5px; }
.sed_nav li { float:left; }
.sed_nav li a{ display:block; float:none; font-size:12px; height:20px; background:#FFF; filter:alpha(opacity=99); -moz-opacity:0.99; opacity: 0.99; }



/***************************************************                       **************************************************/
/************************************************         导航样式        ************************************************/
/***************************************************                       **************************************************/

.cssbadumenu {
	position:absolute;
	display:none;
	top:70px;
	right:0;
	margin:10px auto;
	background:white;
	border:1px solid #ececec;
	border-width:1px 1px 1px 1px;
	padding:0px;
	font:normal 12px Verdana;
	/*filter:alpha(opacity=97);*/
	-moz-opacity:0.97;
	opacity:0.97;
	/*box-shadow:0 0 8px 2px rgba(0,0,0,0.4);
	-moz-box-shadow:0 0 8px 2px rgba(0,0,0,0.4);
	-webkit-box-shadow:0 0 4px 2px rgba(0,0,0,0.8)*/
}
.jjt {
	background:url(../../images/xworker_org/sps1.png) no-repeat;
	background-position:0px -30px;
	width:16px;
	height:8px;
	position:absolute;
	left:255px;
	top:-8px;
	z-index:9999;
}
.cssbadumenu .jjta {
	background:url(../../images/xworker_org/sps1.png) no-repeat;
	background-position:0px -30px;
	width:16px;
	height:8px;
	position:absolute;
	left:504px;
	top:-8px;
	z-index:79;
}
.cssbadumenu .jjtb {
	background:url(../../images/xworker_org/sps1.png) no-repeat;
	background-position:0px -30px;
	width:16px;
	height:8px;
	position:absolute;
	left:264px;
	top:-8px;
	z-index:79;
}
.cssbadumenu .jjtc {
	background:url(../../images/xworker_org/sps1.png) no-repeat;
	background-position:0px -30px;
	width:16px;
	height:8px;
	position:absolute;
	left:336px;
	top:-8px;
	z-index:79;
}
.cssbadumenu .jjtd {
	background:url(../../images/xworker_org/sps1.png) no-repeat;
	background-position:0px -30px;
	width:16px;
	height:8px;
	position:absolute;
	left:425px;
	top:-8px;
	z-index:79;
}
.cssbadumenu .jjte {
	background:url(../../images/xworker_org/sps1.png) no-repeat;
	background-position:0px -30px;
	width:16px;
	height:8px;
	position:absolute;
	left:325px;
	top:-8px;
	z-index:79;
}
.cssbadumenu .jjtf {
	background:url(../../images/xworker_org/sps1.png) no-repeat;
	background-position:0px -30px;
	width:16px;
	height:8px;
	position:absolute;
	left:772px;
	top:-8px;
	z-index:79;
}
.cssbadumenu .jjtg {
	background:url(../../images/xworker_org/sps1.png) no-repeat;
	background-position:0px -30px;
	width:16px;
	height:8px;
	position:absolute;
	left:526px;
	top:-8px;
	z-index:79;
}
.cssbadumenu .column.none {
	border:0;
	margin-right:0px;
	background:#FFFBEE
}
.cssbadumenu .column.app {
	width:110px;
}
.cssbadumenu .column {
	float:left;
	width:137px;
	/*width of each menu column*/
height:266px;
	padding-left:12px;
	border-right:#F3F3F3 1px solid;
	padding-right:13px;
	padding-top:20px;
}
.cssbadumenu .column:hover {
	background-image:-moz-linear-gradient(top,#f9f9f9,#ffffff);
	/* Firefox */
background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#f9f9f9),color-stop(1,#ffffff));
	/* Saf4+,Chrome */
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9',endColorstr='#ffffff',GradientType='0');
	/* IE*/
}
.cssbadumenu .column ul {
	margin:0;
	padding:10px 10px 10px 5px;
	font-size:14px;
	list-style-type:none;
}
.cssbadumenu .column h3 {
	background:#00a7f2;
	font:bold 14px 'microsoft yahei',Arial;
	margin:0 0 5px 0;
	padding:5px 5px 5px 10px;
	color:#FFF;
}
.cssbadumenu .column h3 a {
	color:#FFF
}
.cssbadumenu .column h3 a:hover {
	color:#f4f100
}
.cssbadumenu .column h3 span {
	color:#F9F9F9;
	margin-left:6px;
	font-family:"Lucida Grande",Tahoma;
	font-weight:normal;
	font-size:12px;
}
.cssbadumenu .column ul li {
	background:url(../../images/xworker_org/lists.png) no-repeat left center;
	padding-left:10px;
	background-position:0 -21px;
	line-height:20px;
	margin-bottom:10px;
	font-size:12px;
}
.cssbadumenu .column ul li a {
	color:#8E8E8E;
	padding:5px 0 2px 0;
}
.cssbadumenu .column ul li a:hover {
	color:#008ACE;
	border-bottom:#09F 2px solid;
}
.cssbadumenu .columnthree.none {
	border:0;
	margin-right:0px;
}
.cssbadumenu .columnthree {
	float:left;
	width:150px;
	/*width of each menu column*/
height:266px;
	padding-left:12px;
	border-right:#F3F3F3 1px solid;
	padding-right:13px;
	padding-top:20px;
}
.cssbadumenu .columnthree.cccc {
	width:280px;
}
.cssbadumenu .columnthree:hover {
	background-image:-moz-linear-gradient(top,#f9f9f9,#ffffff);
	/* Firefox */
background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#f9f9f9),color-stop(1,#ffffff));
	/* Saf4+,Chrome */
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9',endColorstr='#ffffff',GradientType='0');
	/* IE*/
}
.cssbadumenu .columnthree ul {
	margin:0;
	padding:10px;
	font-size:14px;
	list-style-type:none;
	width:200px;
}
.cssbadumenu .columnthree h3 {
	background:#00a7f2;
	font:bold 14px 'microsoft yahei',Arial;
	margin:0 0 5px 0;
	padding:5px 10px 5px 15px;
	color:#FFF
}
.cssbadumenu .columnthree h3 a {
	color:#FFF
}
.cssbadumenu .columnthree h3 a:hover {
	color:#f4f100
}
.cssbadumenu .columnthree h3 span {
	color:#F9F9F9;
	margin-left:6px;
	font-family:"microsoft yahei","Lucida Grande",Tahoma;
	font-weight:normal;
	font-size:12px;
}
.cssbadumenu .columnthree ul li {
	background:url(../../images/xworker_org/lists.png) no-repeat left center;
	padding-left:17px;
	background-position:0 -21px;
	line-height:20px;
	margin-bottom:10px;
}
.cssbadumenu .columnthree ul li a {
	color:#666;
	padding:5px 5px 2px 0;
	font-size:12px;
	color:#8E8E8E;
}
.cssbadumenu .columnthree ul li a:hover {
	color:#008ACE;
	border-bottom:#09F 2px solid;
}
.cssbadumenu .columnthree .twoo {
	margin:0;
	padding:10px;
	font-size:14px;
	list-style-type:none;
	width:300px;
}
.cssbadumenu .columnthree .twoo li {
	background:url(../../images/xworker_org/lists.png) no-repeat left center;
	padding-left:17px;
	background-position:0 -21px;
	line-height:20px;
	margin-bottom:10px;
	float:left;
	margin-right:10px;
	width:110px;
}
.cssbadumenu .columnthree .twoo li a {
	color:#8E8E8E;
	padding:5px 5px 2px 0;
	font-size:12px;
}
.cssbadumenu .columnthree .twoo li a:hover {
	color:#008ACE;
	border-bottom:#09F 2px solid;
}
.cssbadumenu .columnfour.none {
	border:0;
	margin-right:0px;
}
.cssbadumenu .columnfour {
	float:left;
	width:140px;
	/*width of each menu column*/
height:266px;
	padding-left:12px;
	border-right:#F3F3F3 1px solid;
	padding-right:13px;
	padding-top:20px;
}
.cssbadumenu .columnfour:hover {
	background-image:-moz-linear-gradient(top,#f9f9f9,#ffffff);
	/* Firefox */
background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#f9f9f9),color-stop(1,#ffffff));
	/* Saf4+,Chrome */
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9',endColorstr='#ffffff',GradientType='0');
	/* IE*/
}
.cssbadumenu .columnfour ul {
	margin:0;
	padding:10px;
	font-size:14px;
	list-style-type:none;
	width:200px;
}
.cssbadumenu .columnfour h3 {
	background:#00a7f2;
	font:bold 14px 'microsoft yahei',Arial;
	margin:0 0 5px 0;
	padding:5px 10px 5px 15px;
	color:#FFF
}
.cssbadumenu .columnfour h3 a {
	color:#FFF
}
.cssbadumenu .columnfour h3 a:hover {
	color:#f4f100
}
.cssbadumenu .columnfour h3 span {
	color:#F9F9F9;
	font-family:"microsoft yahei","Lucida Grande",Tahoma;
	font-weight:normal;
	font-size:12px;
}
.cssbadumenu .columnfour ul li {
	background:url(../../images/xworker_org/lists.png) no-repeat left center;
	padding-left:17px;
	background-position:0 -21px;
	line-height:20px;
	margin-bottom:10px;
	font-size:12px;
}
.cssbadumenu .columnfour ul li a {
	color:#8E8E8E;
	padding:5px 5px 2px 0;
}
.cssbadumenu .columnfour ul li a:hover {
	color:#008ACE;
	border-bottom:#09F 2px solid;
}

.content { font:13px/15px Arial, Helvetica, sans-serif; position: relative; height: 90px; background: url(../images/line-solid.gif) repeat-x bottom; width: 980px; margin: 0 auto; z-index: 0; }

td.v14-header-1,
th.v14-header-1{ background:#dfe7ef; }

table.v14-gray-table-border{ border:1px solid #dfe7ef; border-top:0px; }
table.v14-gray-table-border p{ padding:5px 5px 5px 5px; }
table.v14-gray-table-border table{ margin-left:5px; margin-right:5px; }
table.v14-list-spac-wbg-toc tr.bullet-list td,
table.v14-list-spac-wbg-no tr.bullet-list td,
table.v14-list-spacing tr.bullet-list td{ padding-top:0px; padding-bottom:6px; }

body
{
	background-color: #ffffff;
	padding: 5px 5px 5px 5px;
	margin: 0px;
}
body, td
{
	font-family: microsoft yahei, Arial, Verdana, sans-serif;
	font-size: 14px;
}
pre{
        font-size: 14px;
}

#container {margin:0 auto;}