@xworker.draw2d.constraints.Constraints
sname
Constraints
slabel
Constraints
sdescriptors
xworker.lang.MetaDescriptor3
smany
true
seditCols
2
sinitialization
false
smodifier
public
sinheritDescription
false
sth_createIndex
false
@xworker.draw2d.constraints.Constraints/@BorderLayout
sname
BorderLayout
sdescriptors
xworker.lang.MetaDescriptor3/@thing
sextends
xworker.draw2d.constraints.BorderLayout
smany
true
seditCols
2
sinitialization
false
smodifier
public
sinheritDescription
true
sth_createIndex
false
@xworker.draw2d.constraints.Constraints/@GridData
sname
GridData
sdescriptors
xworker.lang.MetaDescriptor3/@thing
sextends
xworker.draw2d.constraints.GridData
smany
true
seditCols
2
sinitialization
false
smodifier
public
sinheritDescription
true
sth_createIndex
false
